@media screen and (min-width:375px) {

}  
body {
    
    margin: 0;
    font-family: "Open Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
   
    background-image: url(/images/background.jpg);
    background-size: 100%;
    
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgb(255, 255, 255);
}





header{
    display: flex;
    -ms-flex-align: start;
    width: 100%; 
    justify-content: space-between;
    margin-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.250);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5rem);
    margin-bottom: auto;

    
}

.titulo{ 
    font-weight: bold; 
    text-align: center;
    color: blue;
    align-items: center;
    padding-right: 35%;
    
}

.logo{
    display: flex;
    align-items: center;
    padding-right: 20%;
    
    
}
.logo img{
    height: 150%;
    margin-right: 03%;
    max-height: 150px;
    padding: 0%;
    shadow: 0px 5px 20px rgba(0,0,0,0.2);
    
    
}


nav{
    display: flex;
    width: 25%;
    justify-items: space-around;
    background-size: 10%;
    float: left;
    align-items: flex-start;
    flex-flow: column;
}


nav a{
    flex-direction: row;
    flex-flow: row nowrap;
    font-weight: 300;
    justify-content: space-around;
    padding: 15px;
    text-decoration: none;
    text-transform: initial;
    font-style: normal;
    justify-items: space-around;
    
    
    
}
nav li{
    float:left;
    width: 20%;
    padding: 5px 10px;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    justify-items: space-around;
}

nav li a{
    color: #fff;
    text-shadow: rgba(0,0,0,0.5);
    border-radius: 1%;
}
nav li a:hover{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    transform: translateY(-1%);
}

#content{
    font-family: initial;
    display: flex;  
    flex-flow: row nowrap;
    justify-content: space-around;
    

}
ul { 
    list-style:none; 
  }

footer{
    display: flex; 
    margin: 0px;
    text-align: center;
    color: #cb3600fa;
    background-color: rgba(0, 0, 0, 0.578);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5rem);
    align-items: flex-end;
  }
footer a{
    color: #cb3600fa;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    flex-direction: row;
}
footer svg{
    padding-bottom: 1%;
    float: inline-start;
}
footer svg a{
    padding-bottom: 15%;
}

.row row-cols-1 row-cols-md-3 g-4{
    width: 100%;
    display: flex;
    max-width: 1100px;

}


.cartas{
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-flow: wrap;
    padding-left: 10%;
   
}
.card{
width: 200px;
margin: 20px;
border-radius: 6px;
overflow: hidden;
background:rgb(255, 255, 255);
box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
cursor: default;
transition: all 400ms ease;


}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-1%);
}
.card img{
    width: 200px;
    height: 400px;

}
.text-muted{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #cb3600fa;
    border: 1px solid #cb3600fa;
    border-radius: 4px;
    transition: all 400ms ease;
}
.text-muted:hover{
    background: #cb3600fa;
    color: #fff;
    transition: all 400ms ease-out;
}
.card-body{
    padding: 5%;
    text-align: center;
}
.card-footer{
    padding-bottom: 0.1cm;
    padding: 5%;
}
.text-muted {

}


